.dhmediaplayer {display:block; width:100%; margin: 5px;}
.dhmpcontent { margin: 0 auto; text-align:center; }
.dhmpcontent div { float:left; }
.post .dhmpdownload img {border:none;padding:0;margin:0;}
